*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
.demo{
    width: 100%;
    height: 100vh;
    position: relative;
}
.demo model-viewer{
    width:100%;
   height: 100%;
}
.btn-container{
    position: absolute;
   bottom: 40px;
    width: 100%;
    text-align: center;
}
button{
    border:none;
    background: #edda73;
    height: 40px;
    width: 150px;
    margin: 5px 15px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 16px;
}
button:focus{
    outline: none;
}